@import "./variables-colors";

:root {
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $secondColor;
    scroll-behavior: smooth;
    
    body {
        background-color: $secondColor;
        margin: auto;
        height : 100%;
        flex-direction: column;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    h1 {
        font-size: 1.875rem;
        font-weight: 400;
        
    }
    
    h2 {
        font-size: 3.125rem;
        font-weight: 400;
        
    }

    h3{
        font-size: 1rem;
        font-weight: 600;
        color: $mainColor;
    }
    
    p,
    label {
        font-size: 0.875rem;
        font-weight: 400;
    }

    @media (max-width: 750px){
        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 2rem;
        }

        p,
        label {
            font-size: 0.75rem;
        }
    }
}

.header_wrapper {
    width: 85%;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    top: 1.875rem;
    left: 50%;
    transform: translateX(-50%); // left 50% transform: translater x(-50%)

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px 4px 5px;

        p{
            margin: 0;
        }

        .nav1 {

            &__link{
                list-style: none;
                display: flex;
                flex-direction: row;
                
                ul{
                    margin: 0;
                    
                    i{
                        font-size: 1.25rem;
                    }
                }

                &__dot{
                    height: 0.625rem;
                    width: 0.625rem;
                    background-color: $secondColor;
                    border-radius: 50%;
                    display: inline-block;
                }
            }
        }
    }

    hr{
        margin: 0;
        border-top: 1px solid $secondColor;
    }

    @media (max-width: 750px){
        width: 75%;
       
        div .nav1__link ul i{
            font-size: 0.975rem;
        }
    }
                  
}


.nav2{
    position: fixed;
    z-index: 999;
    display: flex;
    top: 35%;
    left: 2%;

    @media (max-width: 750px){
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__hook{
        display: flex;
        flex-direction: column;
        list-style: none;
        border: 1px solid $mainColor;
        border-radius: 25px;
        background-color: $secondColor;
        padding: 8px 7px;
        gap: 32px;

        @media (max-width: 750px){
            justify-content: space-between;
            flex-direction: row;
            width: 270px;
        }

        a{ 
            padding: 0;
            margin: 0;
            background-color: $mainColor;
            border-radius: 50px;
            padding: 10px;
            text-align: center;

            @media (max-width: 750px){
                padding: 10px 12px;
            }

            &:hover{
                background-color: $activeColor;
            }

            i{
                font-size: 0.938rem;
            }
        }
    }
}

.about-section{
    height: 100svh;
    width: 100%;
    background-color: $mainColor;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;

    &__container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3.80rem 0 0 5rem;

        @media (max-width: 750px){
            padding: 75px 0 0 0;
        }

        .container{
            width: 500px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .content-wrapper{
            width: 60%;
            position: relative; 
            display: flex;
            align-items: center;
            justify-content: center;

            .profil-picture{
                position: absolute;
                z-index: 1;
                top: -150px;
                left: -150px;
                background-color: $secondColor;
                box-shadow: 0px 0px 10px  $mainColor;
                border-radius: 5px;
                padding: 3rem;
                height: 12.625rem;

                @media (max-width: 1250px){
                    top: -220px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                @media (max-width: 1000px){
                    top: -175px;
                    padding: 1rem;
                }

                @media (max-width: 500px){
                    top: -125px;
                    padding: 1rem;
                    height: 10rem;
                }
            }

            .description{
                display: flex;
                flex-direction: column;
                align-items: end;
                padding: 1rem;
                background-color: $secondColor;
                border-radius: 5px;
                color: $mainColor;
                padding: 2rem;
                height: 20.625rem;
                min-width: 280px;
                
                @media (max-width: 1250px){
                    height: 23rem;
                }

                @media (max-width: 500px){
                    padding: 1rem;
                }

                h1{
                    width: 75%;
                    margin-top: 2rem;
                    margin-bottom: 4rem;

                    @media (max-width: 1250px){
                        margin-top: 6rem;
                        width: 100%;
                        text-align: center;
                    }

                    @media (max-width: 1000px){
                        margin-top: 4rem;
                    }
                }
            }
        }
    }
}

.skills-section {
    height: 100svh;
    background-color: $mainColor;

    &__container{
        color: $mainColor;
        background-color: $secondColor;
        width: 100%;
        height: 100%;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            margin: 0;
            margin-bottom: 10rem;
            text-align: center;
        }

        .scroller[data-animated="true"]{
            overflow: hidden;
        
            -webkit-mask: linear-gradient(
                90deg, 
                transparent, 
                white 20%, 
                white 80%,
                transparent
            );
        
            mask: linear-gradient(
                90deg, 
                transparent, 
                white 20%, 
                white 80%,
                transparent
            );
        }

        .scroller[data-animated="true"] .scroller__inner{
            width: max-content;
            flex-wrap: nowrap;
            animation: scroll var(--_animation-duration, 20s)
            var(--_animation-direction, forwards) linear infinite;
        }

        .scroller[data-direction="right"] {
            --_animation-direction: reverse;
        }

        @keyframes scroll {
            to {
                transform: translate(calc(-50% - 1rem));
            }
        }

        .scroller{
            max-width: 60%;

            @media (max-width: 750px){
                max-width: 100%;
            }

            &__inner {
                display: flex;
                gap: 2rem;
                flex-wrap: wrap;
                padding-block: 1rem;
            }

            .skills-list {
                margin: 0;
                list-style: none;
                padding-inline: 0;

                img{
                    background-color: $mainColor;
                    box-shadow: 0 0.5rem 1rem -0.25rem $mainColor;
                    border-radius: 30px;
                    padding: 10px;
                    height: 90px;
                    width: 90px;
                    transition: all 3s;

                    @media (max-width: 1250px){
                        height: 75px;
                        width: 75px;
                    }

                    @media (max-width: 500px){
                        height: 50px;
                        width: 50px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

.project-section{
    background-color: $secondColor;
    height: 100svh;

    .modal{
        .modal-dialog{
            .carousel{
                align-self: center;
                box-shadow: 0 0.5rem 1rem -0.25rem rgba(44, 44, 44, 0.5);
                width: 80%;
                height: 250px;
                max-height: 250px;
                margin: 1rem;
                border-radius: 0.5rem;

                .carousel-item{
                    border-radius: 0.5rem;
                }

                img{
                    object-fit: cover;
                    border-radius: 0.5rem;
                    height: 250px;
                }

                button{
                    content-visibility: hidden;
                    border-radius: 0.5rem;
                }

                &:hover{
                    button {
                        content-visibility: visible;
                        background-color: rgba(44, 44, 44, 0.35);
                    }
                }
            }

            .tags{
                margin: 1rem;
                color: $secondColor;
                display: flex;
                flex-direction: row;
                gap: 1rem;

                p{
                    border-radius: 10px;
                    padding: 0.5rem;
                    margin: 0;
                    background-color: $mainColor;
                    box-shadow: 0 0.5rem 1rem -0.25rem $mainColor;
                    transition: all 0.5s;

                    &:hover{
                    background-color: rgba(44, 44, 44, 0.75);
                    }
                }
            }

            .modal-header{
                padding: 0 1rem;
                border-bottom: solid 1px rgba(44, 44, 44, 0.25);
            }
            .modal-body{
                height: 350px;
                border-radius: 0.5rem;
                box-shadow: 0 0.5rem 1rem -0.25rem rgba(44, 44, 44, 0.5);
                margin: 1rem;

                h4 {
                    text-align: center;
                    margin: 0;
                    color: $mainColor;
                    font-size: x-large;
                    padding-bottom: 20px;
                    border-bottom: solid 1px rgba(44, 44, 44, 0.25);
                }

                &__description{
                    height: 80%;
                    
                    p{
                        color: $mainColor;
                    }
                }
            }
        }
    }

    &__container{
        background-color: $mainColor;
        height: 100%;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            margin: 0;
            margin-bottom: 5rem;

            @media (max-width: 750px){
                margin-bottom: 2rem;
            }
        }

        .gallery-container{
            display: flex;
            justify-content: space-evenly;

            @media (max-width: 750px){
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        
            .more-projects-container{
                width: 100px;
                margin-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media (max-width: 1250px){
                    grid-column-start: 3;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 4;
                    margin-left: 30px;
                }

                @media (max-width: 750px){
                    margin-left: 0;
                }

                .more-projects{
                    font-size: 14px;
                }

                button{
                    width: 50px;
                    padding: 1rem;
                    border-radius: 100px;
                    border: solid 1px $secondColor;
                    background-color: $mainColor;

                    &:hover {
                        background-color: $secondColor;

                        i{
                            color: $mainColor;
                        }
                    }

                    i{
                        font-size: 15px;
                        color: $secondColor;
                    }
                }
            }


            .gallery{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                column-gap: 50px;
                row-gap: 50px;

                @media (max-width: 1250px){
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    row-gap: 30px;
                    column-gap: 30px;
                }


                @media (max-width: 500px){
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    width: 100%;
                }

                figure{
                    width: 200px;
                    height: 200px;
                    margin: 0;
                    position: relative;
                    display: block;
                    cursor: pointer;

                    img{
                        object-fit: cover;
                        display: block;
                        border-radius: 5px;
                        width: 200px;
                        height: 200px;
                    }

                    figcaption{
                        color: $secondColor;
                        text-shadow: 1px 1px 4px $mainColor;
                        position: absolute;
                        left: 10px;
                        bottom: 10px;
                        font-weight: 600;
                    }

                    &:after{
                        border-radius: 5px;
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
                        width: 200px;
                        height: 200px;
                        opacity: 0;
                        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                    }

                    &:hover {
                        -webkit-transform: scale(1.15, 1.15);
                        transform: scale(1.15, 1.15);
                    }

                    &:hover::after{
                        opacity: 1;
                    }

                    @media (max-width: 750px){
                        width: 150px;
                        height: 150px;

                        img{
                            width: 150px;
                            height: 150px;
                        }

                        figcaption{
                            font-size: 12px;
                            left: 10px;
                            bottom: 10px;
                            width: 140px;
                        }

                        &:after{
                            width: 150px;
                            height: 150px;
                        }
                    }

                    @media (max-width: 500px){
                        margin: 0;

                        &:after{
                            content: none;
                        }

                        &:hover {
                            -webkit-transform: none;
                            transform: none;
                        }
                    }
                }
            }
        }
    }
}

.contact-section {
    height: 100svh;
    background-color: $mainColor;
    
    &__container{
        background-color: $secondColor;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        color: $mainColor;

        h2{
            margin-top: 5rem;
        }

        form {
            background-color: $mainColor;
            color: $secondColor;
            border-top-left-radius: 100px;
            border-top-right-radius: 100px;
            padding: 1.5rem 5rem 0 5rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            h2{
                margin: 0;
                text-align: center;
            }

            span{
                color: red;
            }

            p{
                text-align: end;
                font-size: 16px;
            }

            label{
                font-size: 16px;
            }
        
            input,
            textarea{
                background-color: #dddddd;
                border: none;
                border-radius: 20px;
                width: 400px;
                height: 50px;
                font-size: 16px;
                font-family: inherit;

                &::placeholder{
                    opacity: 0.4;
                }

                &:focus{
                    outline: none;
                    box-shadow: 0 0 10px $secondColor;
                }
            }

            input{
                padding-left: 15px;
            }

            textarea{
                min-width: 385px;
                max-width: 385px;
                min-height: 85px;
                max-height: 220px;
                margin-bottom: 2.5rem;
                padding: 15px;
            }

            .wrapper-button{
                align-self: center;
                width: 150px;
                cursor: not-allowed; 

                .button{
                    padding: 0;
                    width: 150px;
                    font-family: inherit;
                    pointer-events:none;
                    color: $secondColor;
                    background-color: $mainColor;
                    border: solid 1px $secondColor;
                }
            }

            .wrapper-button-active{
                align-self: center;
                width: 150px;
                cursor: pointer;

                .button-active {
                    padding: 0;
                    width: 150px;
                    font-family: inherit;
                    pointer-events: all; 
                    background-color: $secondColor;
                    color: $mainColor;
                    
                    &:hover{
                        background-color: $activeColor;
                        border-color: $activeColor;
                        color: $secondColor;
                    }
                }
            }
            @media (max-width: 750px){
                background-color: $secondColor;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                padding: 0;
                width: 100%;
                align-items: center;
                color: $mainColor;

                p{
                    width: 400px;
                }

                label{
                    width: 400px;
                }
            }
            @media (max-width: 500px){

                p{
                    font-size: 12px;
                    width: 250px;
                }

                label{
                    font-size: 12px;
                    width: 250px;
                }
            
                input,
                textarea{
                    width: 250px;
                    height: 50px;
                    font-size: 12px;
                }

                input{
                    padding-left: 15px;
                }

                textarea{
                    min-width: 235px;
                    max-width: 235px;
                    min-height: 85px;
                    max-height: 220px;
                    margin-bottom: 2.5rem;
                    padding: 15px;
                }

                .wrapper-button{
                    width: 100px;
                    .button{
                        padding: 0;
                        width: 100px;
                        font-family: inherit;
                        pointer-events:none;
                        color: $secondColor;
                        background-color: $mainColor;
                        border: solid 1px $secondColor;
                    }
                }
            }
        }
    }
}

footer {
    
    p{
        background-color: $mainColor;
        margin: 0;
        align-content: center;
        text-align: center;
        padding: 2rem;
        
        @media (max-width: 750px){
            padding: 2rem 2rem 8rem 2rem;
        }
    }
}