@import "./variables-colors";

:root {
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $mainColor;
    color: $secondColor;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    
    body {
        height : 100%;
        flex-direction: column;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    h1 {
        font-size: 1.875rem;
        font-weight: 400;
    }
    
    h2 {
        font-size: 3.125rem;
        font-weight: 400;
    }
    
    p,
    label {
        font-size: 0.875rem;
        font-weight: 400;
    }
}

.header_wrapper {
    width: 95%;
    position: fixed;
    top: 1.875rem;
    left: 3.125rem ;

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px 4px 5px;
        
        p{
            margin: 0;
        }

        .nav1 {

            &__link{
                list-style: none;
                display: flex;
                flex-direction: row;
                
                ul{
                    margin: 0;
                    
                    i{
                        font-size: 1.25rem;
                    }
                }

                &__dot{
                    height: 0.625rem;
                    width: 0.625rem;
                    background-color: $secondColor;
                    border-radius: 50%;
                    display: inline-block;
                }
            }
        }
    }

    hr{
        margin: 0;
        border-top: 1px solid $secondColor;
    }
}


.nav2{
    position: fixed;
    z-index: 1;
    display: flex;
    top: 35%;
    left: 1.875rem;

    &__hook{
        display: flex;
        flex-direction: column;
        list-style: none;
        border: 1px solid $mainColor;
        border-radius: 25px;
        background-color: $secondColor;
        padding: 8px 7px;
        gap: 32px;

        a{ 
            padding: 0;
            margin: 0;
            background-color: $mainColor;
            border-radius: 32px;
            padding: 10px;
            text-align: center;

            &:hover{
                background-color: $activeColor;
            }

            i{
                font-size: 0.938rem;
            }
        }
    }
}

.main-content-container{
    section{
        scroll-snap-align: start;
    }
}

.about-section{
    height: 100svh;
    align-content: center;

    &__container{
        display: flex;
        height: 28.125rem;
        .profil-picture{
            position: relative;
            width: 18.75rem;
            top: -50px;
            left: 150px;
            z-index: 1;
            &__img {
                background-color: $secondColor;
                box-shadow: 5px 5px 10px  $mainColor;
                border-radius: 5px;
                padding: 3rem;
                height: 12.625rem;
                width: 12.625rem;
            }
        }
        .description{
            display: flex;
            flex-direction: column;
            align-items: end;
            position: relative;
            height: 60%;
            padding: 1rem 5rem 5rem 5rem;
            background-color: $secondColor;
            border-radius: 5px;
            color: $mainColor;
            width: 60%;
            bottom: -100px;
            h1{
                width: 75%;
                margin-top: 2rem;
                margin-bottom: 7rem;
            }
        }
    }
}

.skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: $secondColor;
    color: $mainColor;

    .skills{
        

        h2{
            margin-bottom: 10rem;
            text-align: center;
        }
        .skills__container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 60px;
            width: 80%;

            &__1{
                display: flex;
                flex-direction: row;
                gap: 100px;
                div{
                    display: flex;
                    flex-direction: row;
                    gap: 100px;
                }
            }

            &__2{
                display: flex;
                flex-direction: row;
                gap: 100px;
                div{
                    display: flex;
                    flex-direction: row;
                    gap: 100px;
                }
            }

            img{
                background-color: $mainColor;
                border-radius: 100px;
                padding: 10px;
                height: 90px;
                width: 90px;
                transition: all 1s;

                &:hover{
                    background-color: $activeColor;
                }
            }
        }
    }
}

.project-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;

}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95svh;
    background-color: $secondColor;
    color: $mainColor;

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        
        input,
        textarea{
            background-color: #EEEEEE;
            border: none;
            border-radius: 20px;
        }

    }
}

footer {
    p{
        align-content: center;
        text-align: center;
    }
}